* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LANDING STYLING */

.hero {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-image: url(../img/soil.jpg);
}

.topPage,
.newsletter,
.contact {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.topPage {
  padding: 1rem;
}

.newsletter,
.contactIntro,
.faqIntro {
  background-color: #00491f;
  margin-bottom: 1rem;
  padding: 1rem;
  max-width: 1200px;
}

.newsInfo {
  text-align: center;
}

h2 {
  color: white;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  color: white;
}

.intro {
  text-align: center;
}

.intro p {
  color: black;
}

/* CONTACT PAGE */

.contactHero {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-image: url(../img/contact.jpg);
}

.contactIntro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contactInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.contactInfo h2,
.contactInfo p {
  color: black;
}

.form {
  padding: 1rem;
  background-color: #00491f;
}

.form textarea {
  height: 150px;
}

/* FAQ STYLING */

.faqHero {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-image: url(../img/faq.jpg);
}

/* FOOTER STYLING */
footer {
  margin-top: 1rem;
}

/* MEDIA QUERYS */

/* at 600px change to 2 grid squares */
@media (min-width: 600px) {
  .topPage,
  .newsletter,
  .contact {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* CONTACT STYLING */

/* html {
  scroll-behavior: smooth;
}
.accordion {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#FAQs {
  text-align: center;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: center;
} */
