<!DOCTYPE html>
<html lang=“en”>

<head>
  <meta charset=“UTF-8">
  <meta http-equiv=“X-UA-Compatible” content=“IE=edge”>
  <meta name=“viewport” content=“width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Prosper Earth | Contact</title>
</head>

<body>
  <header>
    <%- include('./partials/header.ejs') %>
  </header>

  <p id=“FAQs”> FAQs </p>
  <button class=“accordion”>How can I cooperate?</button>
  <div class=“panel”>
    <p> You can cooperated by contactin us and do your part to take care of our planet,
      you can do so by filling out the form above. We will reach out to you! </p>
  </div>
  <button class=“accordion”> Is the information provided by us accurate? </button>
  <div class=“panel”>
    <p> The information listed on our website is based and supported by
      the Environmental Potection Agency (EPA). This information is also
      uptated every 24hrs.
    </p>
  </div>
  <button class=“accordion”>Why should I take care of our planet?</button>
  <div class=“panel”>
    <p> Our Earth provides us with everything we want, but also everything we
      need to survive! Earth provides the food we need for fuel, water we need
      for hydration, air and the oxygen we breath, raw materials, literally everything
      we need comes from this one planet</p>
  </div>
  <button class=“accordion”>Need to report a problem related to the fucntionality of this app?</button>
  <div class=“panel”>
    <p>Please fill out the contact form. Our Chatbot will bring the best
      digital support.
    </p>
  </div>
</body>

</html>