<!DOCTYPE html>
<html lang=“en”>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Prosper Earth | Contact</title>
</head>

<body>

  <header>
    <%- include('./partials/header.ejs') %>
  </header>

  <div class="contactHero"></div>

  <div class="contactIntro">
    <h1>Contact US</h1>

    <p>Any Questions? Ask us Anything</p>
  </div>

  <section class="contact">
    <div class="contactInfo">
      <h2>Contact Information</h2>

      <p>Fill out the form and our team will get back to you in 24 - 48 hours.</p>

      <ul>
        <li>
          <a href="tel:777-777-7777"> <i class="fa-solid fa-phone"> </i>(777)777-7777</a>
        </li>

        <li>
          <a href="mailto:hello@gmail.com"> <i class="fa-solid fa-envelope"></i> planet@gmail.com</a>
        </li>

        <li>
          <a
            href="https://www.google.com/maps/place/Red+Ventures/@35.0061496,-80.8460336,17z/data=!3m1!4b1!4m5!3m4!1s0x8856832c57f0fc87:0xbd566135231a2a0b!8m2!3d35.0065941!4d-80.8459102">
            <i class="fa-solid fa-location-dot"></i> Red Ventures, Fort Mill </a>
        </li>
      </ul>

    </div>

    <div class="form">
      <form>

        <label for="name" class="label-name">
          <span class="content-name"> First Name<span>
        </label>
        <input type="text" name="first-name" placeholder="Jane" autocomplete="off" required>

        <label for="name" class="label-last">
          <span class="content-last">Last Name</span>
        </label>
        <input type="text" name="last-name" placeholder="Batista" autocomplete="off" required>

        <label for="email" class="label-email">
          <span class="content-email">Email</span>
        </label>
        <input type="email" name="email" placeholder="ananyeli@hello.com" autocomplete="off" required>

        <label for="phone" class="label-phone">
          <span class="content-email"> Phone</span>
        </label>
        <input type="tel" name="phone" placeholder="#888-888-8888" autocomplete="off" required>

        <label for="Message">Message</label>
        <textarea name="message" placeholder="Write your message here..."> </textarea>

        <a class="waves-effect waves-light btn black">
          <i class="material-icons left">send</i>Submit</a>
      </form>
    </div>
  </section>

  <footer>
    <%- include('./partials/footer.ejs') %>
  </footer>

  <script src="../../public/js/script.js"></script>
</body>

</html>