<!DOCTYPE html>
<html lang=“en”>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Prosper Earth | Contact</title>
</head>

<body>

  <header>
    <%- include('./partials/header.ejs') %>
  </header>

  <div class="faqHero"></div>

  <section class="faqIntro">
    <h1>Frequently Asked Questions</h1>
  </section>

  <section class="question">

    <ul class="collapsible">

      <li>
        <div class="collapsible-header">
          How Can I Help?
        </div>

        <div class="collapsible-body">
          <span>
            Contact us and learn what you can do to do your part. You can do so by filling out the form above. We
            will reach out to you!
          </span>
        </div>
      </li>

      <li>
        <div class="collapsible-header">
          How Accurate Is The Information Given by Prosper Earth?
        </div>

        <div class="collapsible-body">
          <span>
            The information listed on our website is based and supported by
            the Environmental Potection Agency (EPA). This information is
            updated every 24hrs.
          </span>
        </div>
      </li>

      <li>
        <div class="collapsible-header">
          Why Should You Take Care Of Our Planet?
        </div>

        <div class="collapsible-body">
          <span>
            Our Earth provides us with everything we want, but also everything we
            need to survive! Earth provides the food we need for fuel, water we need
            for hydration, and the oxygen we need to breathe.
          </span>
        </div>
      </li>

      <li>
        <div class="collapsible-header">
          Need To Report A Problem With Out Application?
        </div>

        <div class="collapsible-body">
          <span>
            Please fill out the contact form. Our Chatbot will bring the best
            digital support.
          </span>
        </div>
      </li>
    </ul>

  </section>

  <footer>
    <%- include('./partials/footer.ejs') %>
  </footer>

  <script src="../../public/js/script.js"></script>
</body>

</html>