<div class="container black">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Prosper Earth</h5>
      <p class="white-text">We Believe we should go beyond the basics of ethical business practices
        and embrace our responsiblity to people and the planet.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Pages</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
        <li><a class="grey-text text-lighten-3" href="/news">News</a></li>
        <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
        <li><a class="grey-text text-lighten-3" href="/faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright black">
  <div class="container white-text">
    Prosper Earth
    <a class="white-text right" href="#!">All Rights Reserved | Copyright 2022</a>
  </div>
</div>

<style>
  footer {
    background-color: black;
  }
</style>